[StickerPacks]
# One sticker pack per line, in the format:
# PackName:/full/path/to/pack
#
# Uncomment whichever packs you actually want clipimg.sh to scan by default.
# Lines whose first character is # are ignored.
#
# Examples:
# Blob:/home/user/Documents/images/reactions_stickers/blob
# Blob2:/home/user/Documents/images/reactions_stickers/blob2
# Meow:/home/user/Documents/images/reactions_stickers/meow
# Static:/home/user/Documents/images/reactions_static
# Gif:/home/user/Documents/images/reactions_gif
# Icons:"/home/user/.icons/"
# ClipArt:"/home/user/Documents/resources/"
